<footer class="site-footer">
    <hr style="background: #FFF; opacity: 0.05;">
    <section class="section-footer">
        <button id="scrolltop" type="button" class="site-footer--anchor"><svg class="svg-inline--fa fa-angle-up"
                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-up" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor"
                    d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z">
                </path>
            </svg><!-- <i class="fas fa-angle-up"></i> --></button>
        <!-- <div class="container">
            <div class="site-footer--container">
                <header>
                    <a href="https://investidor10.com.br/">
                        <img src="https://investidor10.com.br/assets/front/images/logo-escuro.png"
                            alt="logo investidor10">
                    </a>
                    <div class="social">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </header>
                <p class="content">O Investidor10 não tem como objetivo a recomendação e/ou sugestão
                    de compra de ativos. Nosso site possui caráter meramente informativo e
                    educativo, sempre trazendo informações de fontes públicas
                    (B3, CVM e RI das empresas, etc.), deste modo, não nos responsabilizamos
                    por qualquer decisão que o investidor venha a tomar a partir das informações
                    contidas em nosso site.</p>
                <nav>
                    <ul>
                        <li><a href="#">Política de Privacidade</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="https://investidor10.com.br/suporte/">Suporte</a></li>
                    </ul>
                </nav>
            </div>
        </div> -->
        <div class="site-footer--copytight">
            <p>Copyright © A3.Invest. Todos os direitos reservados</p>
        </div>
    </section>
</footer>