@font-face {
    src: url("../fonts/Oswald/Oswald-Light.ttf");
    font-family: "Oswald-Light";
    font-weight: 300;
  }
  
  @font-face {
    src: url("../fonts/Oswald/Oswald-Regular.ttf");
    font-family: "Oswald-Regular";
    font-weight: 400;
  }
  
  @font-face {
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-family: "Roboto-Regular";
    font-weight: 400;
  }
  
  @font-face {
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
    font-family: "Roboto-Medium";
    font-weight: 300;
  }
  
  * {
    font-family: 'Roboto-Regular';
  }
  