/*@import url("https://fonts.googleapis.com/css?family=Open+Sans");*/
/* @import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css'; */

/*Fontes*/
@font-face {
  src: url("./assets/fonts/Oswald/Oswald-Light.ttf");
  font-family: "Oswald-Light";
  font-weight: 300;
}

@font-face {
  font-family: 'Oswald-Light';
  src: url('/assets/fonts/Oswald-Light.ttf');
  font-weight: 300;
}

@font-face {
  src: url("./assets/fonts/Oswald/Oswald-Regular.ttf");
  font-family: "Oswald-Regular";
  font-weight: 400;
}

@font-face {
  font-family: 'Oswald';
  src: url('/assets/fonts/Oswald-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('/assets/fonts/Roboto-Light.ttf');
}

@font-face {
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
  font-family: "Roboto-Regular";
  font-weight: 400;
}


@font-face {
  font-family: 'Roboto-Regular';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}


@font-face {
  src: url("./assets/fonts/Roboto/Roboto-Medium.ttf");
  font-family: "Roboto-Medium";
  font-weight: 300;
}

/*@font-face {
	font-family: 'open-sans';
	src: url('./assets/fonts/OpenSans-Regular.ttf');
}*/




.testeimage {
  background-image: url("./assets/images/iconlogin.png");
}

.testeimage1 {
  background-image: url("./assets/images/logosiga.png");
}

.testeimage2 {
  background-image: url("./assets/images/logo.png");
}

.fa.fa-caret-down {
  margin-left: 6px;
}

/* ESTILIZANDO O GRID PAGINADO NGX-TABLE */
ul.pager a {
  background-color: #364597;
}

.datatable-header {
  font-weight: bold;
}

ngx-datatable.tabelaClicar .datatable-body-cell-label span {
  cursor: pointer;
}

ngx-datatable#tabelaClassificacao .datatable-body-cell, ngx-datatable#tabelaClassificacao .datatable-header-cell,
ngx-datatable#documento-apenso-menu .datatable-body-cell, ngx-datatable#documento-apenso-menu .datatable-header-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.datatable-row-odd:hover,
.datatable-row-even:hover {
  background-color: rgba(51, 122, 183, 0.5) !important;
  color: #FFF;
}

.flex-slick {
  display: flex;
  justify-content: space-between;
}

.no-padding-right {
  padding-right: 0;
}

.icone-info {
  width: 21px !important;
  height: 21px !important;
}

/* Ajuste de telas*/

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 10px);
}

.controle-margin {
  margin-left: 5px;
}

.modal-header .close {
  margin-top: -11px;
}

.modal-header {
  display: block;
}

.ngx-datatable .datatable-footer .datatable-footer-inner {
  display: -webkit-box !important;
}

.datatable-footer-inner {
  background-color: #dadada;
  border-top: 2px solid #364597;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
  background-color: #fff;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li.disabled a {
  background-color: #364597;
}

.datatable-body-cell-label {
  line-height: 2.2;
  font-size: 1.3rem;
}

.datatable-body-cell-label span{
  word-break: break-word;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li a {
  font-size: 14px;
  height: 32px;
  width: 32px;
  border: none;
  padding: 6px 0;
}

.datatable-footer-inner .page-count,
.pager li>a:focus,
.pager li>a:hover,
.datatable-pager .active a {
  color: #333 !important;
}

.ngx-datatable.bootstrap .datatable-footer .page-count {
  font-size: 1.4rem;
}

.datatable-header {
  background: #364597;
}

.datatable-header-cell {
  line-height: 38px !important;
  min-height: 40px;
  color: white;
  font-weight: 100;
  font-size: 14px;
  padding-left: 4px !important;
  border-right: 1px solid #efefef26;
  border-top: none !important;
  border-bottom: none !important;
}

.datatable-header-cell label {
  color: white !important;
  font-weight: 100 !important;
  font-size: 14px !important;
}

.datatable-row-odd:hover,
.datatable-row-even:hover {
  background-color: #d1d4d7 !important;
  color: #000;
}

.ngx-datatable button i {
  font-size: 16px;
}

.save-btn {
  margin-top: 26px;
}

.modal-wrapper-grande {
  min-width: 90%;
}

.modal-wrapper-medio {
  min-width: 73%;
}

.modal-wrapper-pequeno {
  min-width: 55%;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
  padding: 0.5rem;
}

.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
  border-top: 1px solid #d1d4d7;
  padding: 0.25rem;
}

.empty-row {
  width: 100%;
  text-align: center;
  line-height: 4;
  color: #666;
}

.inner-addon {
  position: relative;
}

.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  z-index: 5;
}

.right-addon .fa {
  right: 0px;
}

.right-addon input {
  padding-right: 60px;
}

input.textInputRoundRight {
  border-radius: 4px 0 0 4px !important;
}

input.textInputRound {
  border-radius: 4px !important;
}

span.campoObservacaoTextArea {
  padding-left: 15px !important;
}

.btnVoltar {
  margin-left: 5px
}

#menuAuxiliar select {
  padding: 0 !important;
  height: 20px !important;
}

.row-prioritario {
  background-color: #7DCBE5 !important;
  color: black;
}

.row-urgente {
  background-color: #FFD6D6 !important;
  color: black;
}

.button {
  background: #0080c0;
  color: white;
  padding: 5px;
  border-radius: 6px;
  margin-top: 29px;
  outline: none;
  margin-bottom: 20px;
}

.content_1 {
  margin-bottom: 30px;
  margin-top: 5px;
  min-height: 100%;
}

.form-group {
  margin-bottom: 5px;
}

.div>.form {
  padding: 8px;
}



.div[_ngcontent-c4]>input-container {
  width: auto !important;
  margin: 0;
  float: left;
}

.control-label {
  font-size: 13px !important;
  font-weight: 200;
}

.a {
  color: black !important;
}

/*tela de login*/
/**/
.has-error {
  border-color: #a94442 !important;
}


/*Text area*/
textarea {
  resize: none;
}

.custom-slick-next {
  right: -60px;
  content: url('./assets/images/ico-seta-posterior-dashboard.png');
}

.custom-slick-prev {
  left: -70px;
  content: url('./assets/images/ico-seta-anterior-dashboard.png');
}

.custom-slick-prev,
.custom-slick-next {
  position: absolute;
  top: 35%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  background-size: 100%;
}

.custom-slick-prev:hover,
.custom-slick-next:hover {
  opacity: .9;
}

.custom-slick-prev:active,
.custom-slick-next:active {
  transform: scale(.9);
  -moz-transform: scale(.9);
  -webkit-transform: scale(.9);
}

.custom-slick-prev.slick-disabled:before,
.custom-slick-next.slick-disabled:before {
  opacity: .25;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mb-1 {
  margin-bottom: .25rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.negmb-2 {
  margin-bottom: -0.5rem;
}

.mt-1 {
  margin-top: .25rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mr-1 {
  margin-right: .25rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

/*
    Fim das Classes Auxiliares
  */

h3{
  color: #274467;
  font-family: 'Oswald-Light';
  text-transform: uppercase;
}

.h2,
h2 {
  font-family: 'Oswald-Light';
  letter-spacing: 1px;
  color: #184265;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-default {
  color: #184265 !important;
  background-color: #fff;
  border: #3b4ba5 1px solid;
  font-family: 'Oswald-Regular' !important;
}

.btn-primary {
  color: #fff;
  background-color: #3b4ba5;
  border-color: #3b4ba5;
  font-family: 'Oswald-Regular';
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #2e397b;
  border-color: #2e397b;
}

.btn-lg,
.btn-group-lg>.btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.btn {
  padding: 6px 16px;
}

.btnsearch {
  margin-bottom: 15px;
}

.ico {
  margin-right: 10px;
}


label {
  color: #274467;
  font-family: 'Roboto-Regular';
  text-transform: uppercase;
  font-size: 12pt;
}

input,
select,
textarea {
  font-family: 'Roboto-Regular';
}

.open-button {
  position: absolute;
  top: 33px;
  right: 23px;
  width: 25px;
  height: 25px;
  background: #f8f8f8;
  pointer-events: none;
}

.open-button button {
  border: none;
  background: transparent;
}

h3,
.modal-title,
.card-title {
  font-family: 'Oswald-Regular';
  font-size: 20px;
  color: #274467;
  text-align: left;
}

label.subtitulo {
  font-family: 'Oswald-Light';
  font-size: 20px;
  border-bottom-width: 1px !important;
  border-bottom: solid;
  color: black;
}

.radio-custom {
  width: 20px;
  height: 20px;
}

div.button-bar>button.btn-primary,
div.listbox>button.btn-primary {
  color: #274467;
  background-color: #fff;
  border: #274467 1px solid;
  text-transform: uppercase;
  font-family: 'Oswald-Regular';
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.navbar-form {
  margin-top: 6px;
}

@media only screen and (max-width:991px) {
  #bs-example-navbar-collapse-1>ul.nav.navbar-nav.navbar-right>li.select-container>app-select-unidade-perfil>app-select>div>select {
  color: #274467 !important;
  background-color: #fff !important;
  height: 42px !important;
  margin: 6px 10px 0 0 !important;
  padding: 0 0 0 4px !important;
  border-radius: 2px !important;
  width: 70px !important;
  }
}

#bs-example-navbar-collapse-1>ul.nav.navbar-nav.navbar-right>li.select-container>app-select-unidade-perfil>app-select>div>select {
  color: #274467 !important;
  background-color: #fff !important;
  height: 42px !important;
  margin: 6px 10px 0 0 !important;
  padding: 0 0 0 4px !important;
  border-radius: 2px !important;
}

.divBarra {
  padding-left: 10px;
}

.campoNumero {
  padding-right: 0;
}

.campoAno {
  padding-left: 0;
}

.section {
  padding: 25px 0;
  margin-top: 1%;
}

.form-bts {
  padding-top: 40px;
}

.letra_cor_vermelha {
  text-align: justify !important;
  color: red !important;
}

.sectionBody {
  padding: 25px 0 0 0;
  margin-top: 1%;
}

.pl-4 {
  padding-left: 1.5rem;
}

.pl-8 {
  padding-left: 3rem;
}

.checkbox-custom {
  width: 20px;
  height: 20px;
}

.divUrgente {
  content: url('./assets/images/ico-urgente.png');
  display: inline;
  vertical-align: bottom;
}

.divPrioritario {
  content: url('./assets/images/ico-prioritario.png');
  display: inline;
  height: 19px;
}

.acaoEncerrarVolume {
  content: url('./assets/images/ico-encerrar-volume.svg');
}

.container-modal {
  width: 100%;
}

.inverted-icon {
  transform: rotate(180deg);
  padding-right: 0 !important;
  padding-left: 5px;
}

.input[type="radio"].radio-custom-line {
  display:table-cell;
  vertical-align:middle;
  margin-top: 0px;
  text-align: center;
}

.radio-inline-alinhado {
  padding-left: 0px;
  padding-right: 20px;
  vertical-align: super;
}

.labelPequena {
  display: block; font-size: 10px;
}

ngx-datatable.table-no-selection.bootstrap .datatable-body datatable-body-row.datatable-row-odd.active.datatable-body-row {
  background-color: white;
  color: black;
}

ngx-datatable.table-no-selection.bootstrap .datatable-body datatable-body-row.datatable-row-even.active.datatable-body-row {
  background-color: #f2f2f2;
  color: black;
}

.margin-footer {
  margin-bottom: 40px;
}

.margem-top-any-elements {
  margin-top: 40px;
}

.campoResponsavel {
  display: block;
  width: 100%;
  padding:.375rem .75rem;
  font-size:1.3rem;
  line-height:1.5;
  color:#495057;
  background-color:#eee;
  background-image:none;
  background-clip:padding-box;
  border:1px solid #ced4da !important;
  border-radius:.25rem;
  cursor: not-allowed;
  font-family: 'Roboto-Regular';
  text-transform: uppercase;
}

.larguraPadrao {
    width: 270px;
}
