<app-header></app-header>
<!-- <div class="text-center">
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3380691171417477" data-ad-slot="9975399151"
        data-full-width-responsive="true"></ins>
</div>
my-content-->
<div class="text-center">
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3380691171417477" data-ad-slot="9975399151"
        data-full-width-responsive="true"></ins>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>