<div class="container">
    <form #form="ngForm" (ngSubmit)="form.valid && pesquisar(form)">
      <div class="row">
        <div class="col-md-12">
          <h2><img class="ico mb-3" src="assets/images/ico-lupa-pesquisa.png" alt="Liberação de Terceirizados">Tipos de
            Despacho </h2>
        </div>
      </div>
      <section>
        <div class="row mb-4">
          <div class="form-group col-md-8">
            <label for="nome">Descrição</label>
            <input type="text" class="form-control" name="descricao" maxlength="100" id="descricao" ngModel
              #descricao="ngModel" />
            <!-- <app-campo-controle-erro [mostrarErro]="(descricao.touched||form.submitted) && descricao.errors?.required"
              msgErro="Descrição é campo Obrigatório."> 
            </app-campo-controle-erro>-->
          </div>
        </div>
  
        <div class="row mb-4">
          <div class="col-md-3">
            <label>Situação </label>
            <!-- <app-select-situacao-usuario #selectSituacaoUsuario name="situacao" id="situacao" [Relatorio]="true">
            </app-select-situacao-usuario> -->
          </div>
        </div>
  
        <div class="row form-bts">
          <div class="col-md-12">
            <button type="submit" class="btn btn-default">Buscar</button>
            <button type="button" (click)="novo()" class="btn btn-default">Novo</button>
            <button type="button" (click)="limpar()" class="btn btn-default">Limpar</button>
          </div>
        </div>
        <br>
        <ngx-datatable > </ngx-datatable>
        <!-- <ngx-datatable #tabelaPesquisa class="bootstrap" [reorderable]="false" [rows]="listaDespachos"
          [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [messages]="mensagens"
          [offset]="activePage" [externalPaging]="true" [count]="quantidadeDeElementos" [limit]="10"
          (page)="onMudouPaginaDePesquisa($event)">
  
          <ngx-datatable-column [sortable]="false" name="Descrição" [flexGrow]="2" prop="descricao" [resizeable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" name="Situação" [flexGrow]="1" prop="situacao" [resizeable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column name="Ações" [width]="120" [canAutoResize]="false" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <em class="fa fa-pencil fa-2x acao" title="Editar" (click)="editar()"></em>
              <em class="fa fa-trash fa-2x acao" title="Excluir" (click)="excluir()"></em>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>  -->
      </section>
    </form>
  </div>