/* @import url(assets/css/fonts-css.css); */
/* * {
    font-family: 'Roboto-Regular';
} */

.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mb-1 {
    margin-bottom: .25rem;
}

.mb-2-login {
    margin-top: 2%;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.mt-4 {
    margin-top: 8%;
}

h2,
h3,
h3siga
{
    color: #274467;
    font-family: 'Oswald-Light';
    text-transform: uppercase;
}

.btn-primary {
    background-color: #274467;
    color: #fff;
    border: #274467 1px solid;
    text-transform: uppercase;
    font-family: 'Oswald-Regular';
}

.btn-lg,
.btn-group-lg > .btn {
    color: white;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.link-btn {
    color: #274467;
    font-family: 'Oswald-Regular';
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-signin {
    margin: 30px 0;
}

.input-login {
    border-radius: 4px;
}

.ico {
    margin-right: 10px;
}

.section > .row {
    margin-left: 0;
    margin-right: 0;
}

.section-top {
    background-color: #f7f7f7;
    padding-bottom: 20px;
    margin-top: 0%;
}

.headline{
    content: "";
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.link-text {
    color: #093c81;
    text-decoration: underline;
    font-weight: weight;
}