<!-- 
<ng2-adsense
  [adClient]="'ca-pub-7640562161899788'"
  [adSlot]="7259870550"
  [display]="'inline-block'"
  [width]="320"
  [height]="108"
></ng2-adsense>  -->
<!-- <div id="login" class="login">
    <div class="logo"><a href="#" title="">Logo do Sistema</a></div>
      
      <div class="login-form">
        <div class="input-group">
          <span class="input-group-addon"><span class="fa fa-user"></span></span>
          <input type="text" id="nomeUsuario" class="form-control" placeholder="Usuário">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><span class="fa fa-lock"></span></span>
          <input type="password" id="senha" class="form-control" placeholder="Senha">
        </div>
        <a  routerLink="/cadastro-conflito" title="" class="btn btn-tj  btn-block">Acessar</a>
      </div>
      
      <div class="login-senha text-center">
        <a routerLink="/pages/cadastro-conflito" title="" >Esqueceu a senha?</a>
      </div>
  </div> -->
  <div class="container">
    <div class="avatar mb-5">
      <img class="rounded-circle" src="assets/img/logo.jpg" alt="Responsive image" height="148" width="148">
    </div>
    <div class="social">
      <ul class="social-links">
        <li><a href="https://www.instagram.com/a3.invest"><i class="bi bi-instagram"></i></a></li>
        <!-- <li><a href="https://github.com/gomex"><i class="bi bi-instagram"></i></a></li>
      <li><a href="mailto:me@gomex.me"><i class="fa fa-envelope"></i></a></li>
      <li><a href="https://twitter.com/gomex"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://linkedin.com/in/rbgomes"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://stackoverflow.com/gomex"><i class="fa fa-stack-overflow"></i></a></li>
      <li><a href="https://medium.com/@gomex"><i class="fa fa-medium"></i></a></li>
      <li><a href="https://telegram.me/gomex"><i class="fa fa-telegram"></i></a></li>
      <li><a href="/blog/index.xml"><i class="fa fa-rss"></i></a></li> -->
      </ul>
    </div>
  </div>